<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884664782421-m87mb0vakvo0a1vm6ililo18mkkrl6mp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884664782421-m87mb0vakvo0a1vm6ililo18mkkrl6mp</string>
	<key>API_KEY</key>
	<string>AIzaSyBhNL5rA2cCfoC_blWNbpi3rsDipaSAlv8</string>
	<key>GCM_SENDER_ID</key>
	<string>884664782421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meowFilms</string>
	<key>PROJECT_ID</key>
	<string>meow-movies</string>
	<key>STORAGE_BUCKET</key>
	<string>meow-movies.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884664782421:ios:be0879595a00e2b7cc0edc</string>
</dict>
</plist>